/* static position is the default */
/* for applying position relative, use left, right... */
.box {
    border: 1px solid black;
    position: relative;
    left: 50px;
    
}
 .wrapper {
    background-color: aqua;
    position: fixed;
    /* even if you scroll down the website,
    the fixed content will always remain visible
    on the webpage */
} 
