/* 'element.class' selector and 'descendant' selector combined
Descendant selector selects all 'h2' elements 
that are present within 'section'
*/
section.my-article h2 {
    color: maroon;
}

/* Child selector i.e. here we are selecting all h2 
elements that are direct children of the section, 
not descendants */
section.my-article > h2 {
    color: green;
}

p {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px gray;
    color: plum;
}

/* Ajacent sibling selector - selects the h2 that 
appears immediately after 'section' gets over */
section + h2 {
    color: chartreuse;
}

/* General sibling selector - selects all h2 that
 appears after 'section' gets over */
section ~ h2 {
    color: darkblue;
}