/* p {
    font-size: 22px;
    line-height: 1.5;
} 
header {
    width: 50%;
}
h1 {
    border: 2px dashed red;
    width: 50%;  
}
Note: Effective width of <h1> will be 25%.
Reason it inherits 50% width from <header> and has its 
own 50% width.  */

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3em; /* em for font-size means relative to parent (header) */
    padding: 0.5em; /* em for other properties mean relative to itself*/
}
main {
    font-size: 2rem; /* relative to root */
}
p {
    font-size: 2rem; /* relative to root, does not factor in parent elment's size */
    width: 40ch;
}

