/* 
1st MISTAKE: Did not specify height of parent div (container), so the moment child div was made absolute, 
child div went out of flow of html document and parent div had no content inside it, so its height became zero, 
therefore nothing visible on screen.
Solution: Always assign an absolute value to parent conatiner's height like 100vh. Only then you'll be able to see 
absolutely positioned child elements.
   
2nd MISTAKE: Applied 'position:absolute' on div .box hoping it would get inherited to child items (like background image,
foreground image, h1 text), but always remember 'position:absolute' is NOT INHERITED
SOLUTION: Apply 'position:relative' to immediate parent (i.e. .box) and 'position:absolute' to children (i.e. images, h1) 

3rd MISTAKE and SOLUTION: Don't apply 'display:flex' to ancestor like .container, apply it to immediate parent like .box. 
And 'justify-content' and 'align-items' are applied on parent, not child. 

4th MISTAKE: For overlap to happen, you need to set 'position:abolute' and 'position:relative' correctly according to point 
mentioned in '2nd MISTAKE'.. Now once overlap happens, you might not be able to see some item on screen (like the h1 text). 
That means the h1 element might have been covered due to overlap.
SOLUTION: Adjust z-index to make the hidden element appear. So one way is to set both images as 'z-index=-1'. That way, 
h1 having default 'z-index=0' will end up having higher z-index, hence will appear above.

NOTE: For z-index to have effect you don't need to turn on perspective. BUT, for 3-d effect, you definitely need to turn it on. 
Perspective() function defines the virtual distance between the plane of your computer screen and the HTML element you're 
applying translateZ to (in our case it will be the images). This means perspective(200px) and translate(75px) creates a virtual
space of 200px between HTML element and the computer screen, and then moves it 75px closer to you. Likewise, using a negative 
value in translateZ() moves it further away. 
Remember, perspective needs to applied to the direct parent element or ancestor. If its applied on ancestor (i.e. .container 
which is not direct parent), then the 3D effect on child elements will get flattened (i.e. no effect). To preserve the 3D effect, 
you need to apply 'transform-style: preserve-3D' on the direct parent (i.e. .box)

5th MISTAKE: Even after turning on perspective on ancestor (.container) and transforming background and foreground child images on the z-axis 
by pushing it away 40px and 20px respectively on the z-plane, we still do not see 3D effect. That is, text which is closest should 
scroll fastest, then image which is further away (foreground image) should scroll little slow, and then background image which is
farthest should scroll slowest.  
SOLUTION: The 3D effect for child elements get flattened cause perspective is applied not on direct parent (i.e. .box), but on ancestor
(i.e. .conatiner). So to preserve 3D effect, we need to apply 'transform-style: preserve-3D' on the direct parent (.box)

NOTE: On pushing element further away on the z-axis by using 'transform: translateZ(-40px)' will cause it to shrink in size. So to increase 
size, use scale() function. Eg: transform: translateZ(-40px) scale(5);

6th MISTAKE: Two vertical scroll bars were appearing at the right hand side of the webpage. And a horizontal scrollbar below.
SOLUTION: To remove the horizontal scroll bar below, use 'overflow-x: hidden' in ancestor/parent element.
To remove one vertical scroll bar on the right side, use univeral selector and inside it, set 'margin:0'

7th MISTAKE: My images (background, foreground) were moving slow on scrolling. To increase their speeds bring them closer towards 
the z-axis created by 'perspective'. Reason: The farther the image on the z-axis, the slower it moves on scrolling. 
SOLUTION: So transformZ value for background and foreground image  was changed from 'transform: translateZ(-40px)' and 
'transform: translateZ(-20px)' to 'transform: translateZ(-20px)' and 'transform: translateZ(-10px)' respectively.
Now if you also want to increase the difference in speed between the background image and foreground image, increase the difference between 
their 'translateZ' value.

8th MISTAKE: Wanted to zoom-in and zoom-out my images. 
SOLUTION: Adjust the value of 'transform: scale()' for that. Increase the value of you want to zoom out, decrease the value if 
you want to zoom in. */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    perspective: 10px;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background, .foreground{
    position: absolute;
    z-index: -1;
    /* height: 100%;
    width:100%; */
    object-fit: cover;
}
.background{
    transform: translateZ(-20px) scale(2.63);
}
.foreground{
    transform: translateZ(-10px) scale(1.32);
}
h1{
    font-size: 148px;
    font-weight: bolder;
    position: absolute;
    top: 6.8rem; 
    /* letter-spacing: 2px; */
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    font-family: sans-serif;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    color: black;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5rem;
    font-family: sans-serif;
}
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}